.container {
  margin-top: 120px;
}

.box-border {
    width: 260px;
   border: 1px solid black;
   padding: 46px;
}

.bg {
 background-color: blue;
 color: #ffffff;
}


.custom-margin{
  margin-left: 20px;
}
